@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PlayfairDisplaySC';
  src: url('@/assets/fonts/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: #f1f5f9;
  margin: 0;
  padding: 0;
  color: #333437;
  font-family: Montserrat;
}
